<div class="container">
	<div class="product-container">
		@for (item of products; track item._id) {
		<div class="product-card">

			@if ((item.soldCount ?? 0) > 10) {
			<div class="best-seller-ribbon">
				<span>Best Seller</span>
			</div>
			}

			<div class="product-image">
				<img [src]="item.images[0] || 'https://placehold.co/400x300?text=No+Image'" crossorigin="anonymous"
					[alt]="item.title">
			</div>

			<div class="product-info">
				<h3>{{ item.title }}</h3>
				<p class="description">{{ item.description }}</p>

				<div class="price-row">
					<span class="price">{{ item.price | number }} บาท</span>
					<button class="add-btn" (click)="addToCart(item)">
						เพิ่มลงตะกร้า
					</button>
				</div>
			</div>

		</div>
		}
	</div>
</div>